/* Login Form */
.reset_pass{
    cursor: pointer;
}

#forgotPassword{
    display: none;
}

#forgotPassword,.login_form{
    z-index:22;
    animation-delay:.1s
}

#forgotPassword h1:before,#forgotPassword h1:after {
    width: 20%;
}

/* Navbar */
.site_title img{
    border-radius: 20px;
    content:url("../images/logo.ico");
}

.nav-sm .navbar.nav_title a img{
    border-radius: 30px;
    content:url("../images/logo\ 50X50.ico");
    height: 45px;
}