/* Login Form */
.reset_pass{
    cursor: pointer;
}

#forgotPassword{
    display: none;
}

#forgotPassword,.login_form{
    z-index:22;
    animation-delay:.1s
}

#forgotPassword h1:before,#forgotPassword h1:after {
    width: 20%;
}

/* Navbar */
.site_title img{
    border-radius: 20px;
    content:url("../images/logo.ico");
}

.nav-sm .navbar.nav_title a img{
    border-radius: 30px;
    content:url("../images/logo\ 50X50.ico");
    height: 45px;
}

/* General */
ul.panel_toolbox>li {
    float: right;
}

.page-title .title_left{
    width: 100%
}

/* Dashboard */
.x_content{
    padding-left: 0;
    padding-right: 0
}

/* Vendor */
.thumbnail{
    height: auto;
    max-width: 300px;
    border-color: #fff;
}

.thumbnail .image{
    height: 150px;
    cursor: pointer;
}

.thumbnail img{
    width: 100%; 
    display: block;
    height: 100%;
}

.vendor-name{
    font-size: 17px;
    font-weight: 600;
    word-break: break-word;
}

.cuisine-name {
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
    word-break: break-word;
}

.card-container{
    cursor: pointer;
}

.card-container:hover .thumbnail{
    border: 1px solid #d3d5df;
    box-shadow: 0 4px 7px 0 rgba(218,220,230,.6) !important;
}

.h3-title{
    width: auto;
    display: inline-block;
}

.top_search{
    padding-top: 5px;
    margin-bottom: 0;
}

.btn-add{
    vertical-align: middle;
    margin-top: 7px;
    background-color: #2A3F54;
    margin-right: 0;
    color: #fff;
    padding: 4px 25px;
}
.btn-add:hover,.btn-add:active,.btn-add:focus{
    color: #fff
}

/* Footer */
.sidebar-footer a{
    width: 33.33%;
}

.sidebar-footer a:hover span{
    color: white
}